canvas {
    border:3px solid #42e5f4;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;
}
body { 
	background-color: #c65813;
    padding-top: 20px; 
	padding-bottom: 20px; 
}

#drop_zone {
	border: 3px dashed White;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
	text-align: center;

	color: #bbb;
	width: 50%;
	height: 30%;
}

#drop_zone > p{
	font-size : 300%;
	font-weight: bold;
	color : White;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
